<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Daum</title>
<style type="text/css">
*{border:1px solid red}
a {
	text-decoration: none;
}
 a:visited { color: black; text-decoration: none;}
 
ul {
	list-style-type: none;
}

.news {
	float: left;
	font-size: 12pt;
	font-weight: bold;
	margin-right: 10px
}

.news1 {
	float: left;
	font-size: 10pt;
	font-weight: bold;
	margin-right: 10px
}

#div1 {
	width: 670px;
	height: 123px;
	margin-left: 400px;
}

#div2 {
	width: 487px;
	height: 35px;
	float: left;
	border: 1px solid blue
}

#bt_1 {
	background: #fff;
	border: none;
	outline: none;
	float: right
}

.rs {
	float: left;
	font-size: 10pt;
	margin-right: 10px
}

.con_1 {
	width: 100%;
	height: 55px;
	border-top: 1px solid #d3d3d3;
	border-bottom: 1px solid black
}

#news {
	width: 900px;
	height: 45px;
	margin-left: 400px;
}

#con_2 {
	width:370px;
	height: 300px;
	float:left
}

.in_1 {
	width: 154px;
	height: 100px;
	float: left;
}
</style>
</head>
<body>
	<div id="div1">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
			href="https://www.daum.net/doc/startpage.html#36609"
			style="font-size: 5pt;">다음을 시작 페이지로 ▶</a><br /> <img
			src="https://t1.daumcdn.net/daumtop_chanel/op/20200723055344399.png"
			height=94px , width=180px align="left"></a>
		<div>
			<div id="div2">
				<input type="text"
					style="width: 400px; height: 26px; border: none; outline: none;">
				&nbsp;
				<button type="button"
					style="width: 50px; height: 26px; background: #fff; border: none; outline: none; couser: pointer;">
					<img
						src="https://imyeonn.github.io/assets/images/post/001/30_00title.png"
						style="width: 60px; height: 30px; vertical-align: middle;">
				</button>
			</div>
			<br />
			<ul style="list-style-type: none;">
				<li class="rs"><a href="#">싹쓰리기부</a></li>
				<li class="rs"><a href="#">백신접종 우선순위</a></li>
				<li class="rs"><a href="#">뜨개질 쇼핑몰</a></li>
				<li class="rs"><a href="#">손준호 단편영화</a></li>
			</ul>
			<input type="button" value=">" id="bt_1"> <input
				type="button" value="<" id="bt_1">
		</div>
	</div>
	<div class="con_1">
		<div id="news">
			<ul>
				<li class="news1"><a href="#">카페</a></li>
				<li class="news1"><a href="#">메일</a></li>
				<li class="news1"><a href="#">뉴스</a></li>
				<li class="news1"><a href="#">지도</a></li>
				<li class="news1"><a href="#">증권</a></li>
				<li class="news1"><a href="#">쇼핑</a></li>
				<li class="news1"><a href="#">카카오TV</a></li>
				<li class="news1"><a href="#">웹툰</a></li>
				<li class="news1"><a href="#">블로그</a></li>
				<li class="news1"><a href="#">브런치</a></li>
				<li class="news1"><a href="#">사전</a></li>
				<li class="news1"><a href="#">게임</a></li>
				<li class="news1"><a href="#">같이가치</a></li>
				<li class="news1"><a href="#">더보기</a></li>
				<input type="button" value="▽"
					style="background: #fff; border: none; outline: none; float: left">
			</ul>
		</div>
	</div>
	<br />
	<div style="width: 670px; height: 123px; margin-left: 400px;">
		<ul style="list-style-type: none;">
			<li class="news"><a href="#">뉴스</a></li>
			<li class="news"><a href="#">연예</a></li>
			<li class="news"><a href="#">스포츠</a></li>
			<li class="news"><a href="#">자동차</a></li>
			<li class="news"><a href="#">부동산</a></li>
		</ul>
		<br />
		<div style="width:100% ;height:330px">
			<div id="con_2">
				<a href="#">
					<div class="in_1">
						<div>
							<img src="https://i.stack.imgur.com/FAOZX.png"
								style="width: 100px; height: 70px;">
						</div>
						<div>
							<span>adfaaa</span>
						</div>
					</div>
				</a> 
				<a href="#">
					<div class="in_1">
						<div>
							<img src="https://i.stack.imgur.com/FAOZX.png"
								style="width: 100px; height: 70px;">
						</div>
						<div>
							<span>adfaaa</span>
						</div>
					</div>
				</a>
				<a href="#">
					<div class="in_1">
						<div>
							<img src="https://i.stack.imgur.com/FAOZX.png"
								style="width: 100px; height: 70px;">
						</div>
						<div>
							<span>adfaaa</span>
						</div>
					</div>
				</a> 
				<a href="#">
					<div class="in_1">
						<div>
							<img src="https://i.stack.imgur.com/FAOZX.png"
								style="width: 100px; height: 70px;">
						</div>
						<div>
							<span>adfaaa</span>
						</div>
					</div>
				</a>
				 <a href="#">
					<div class="in_1">
						<div>
							<img src="https://i.stack.imgur.com/FAOZX.png"
								style="width: 100px; height: 70px;">
						</div>
						<div>
							<span>adfaaa</span>
						</div>
					</div>
				</a> 
				<a href="#">
					<div class="in_1">
						<div>
							<img src="https://i.stack.imgur.com/FAOZX.png"
								style="width: 100px; height: 70px;">
						</div>
						<div>
							<span>adfaaa</span>
						</div>
					</div>
				</a>
			</div>
			<div style="width: 300px; height: 300px; float: right;">
				<ul>
					<li><a href="#">1</a></li>
					<li><a href="#">1</a></li>
					<li><a href="#">1</a></li>
					<li><a href="#">1</a></li>
					<li><a href="#">1</a></li>
				</ul>
				<ul>
					<li><a href="#">1</a></li>
					<li><a href="#">1</a></li>
					<li><a href="#">1</a></li>
					<li><a href="#">1</a></li>
					<li><a href="#">1</a></li>
				</ul>
			</div>
		</div>
		<div style="width:200px; height: 30px; float:left; margin:0 auto">
			<ul>
					<li style="float:left ; font-weight: bold;"><a href="#">1> &nbsp; </a></li>
					<li style="float:left"><a href="#">1 &nbsp;</a></li>
					<li style="float:left"><a href="#">1 &nbsp;</a></li>
					<li style="float:left"><a href="#">1 &nbsp;</a></li>
					<li style="float:left"><a href="#">1 &nbsp;</a></li>
				</ul>
		</div>
				<div style="width: 400px; height: 30px; float:right">
			<ul>
					<li style="float:left ;"><a href="#">1 &nbsp; </a></li>
					<li style="float:left"><a href="#">1 &nbsp;</a></li>
					<li style="float:left"><a href="#">1 &nbsp;</a></li>
					<li style="float:left"><a href="#">1 &nbsp;</a></li>
					<li style="float:left"><a href="#">1 &nbsp;</a></li>
				</ul>
		</div><br/>
		<a href="#">
					<div class="in_1">
						<div>
							<img src="https://i.stack.imgur.com/FAOZX.png"
								style="width: 100px; height: 70px;">
						</div>
						<div>
							<span>adfaaa</span>
						</div>
					</div>
				</a> 
				<a href="#">
					<div class="in_1">
						<div>
							<img src="https://i.stack.imgur.com/FAOZX.png"
								style="width: 100px; height: 70px;">
						</div>
						<div>
							<span>adfaaa</span>
						</div>
					</div>
				</a> 
				<a href="#">
					<div class="in_1">
						<div>
							<img src="https://i.stack.imgur.com/FAOZX.png"
								style="width: 100px; height: 70px;">
						</div>
						<div>
							<span>adfaaa</span>
						</div>
					</div>
				</a> 
				<a href="#">
					<div class="in_1">
						<div>
							<img src="https://i.stack.imgur.com/FAOZX.png"
								style="width: 100px; height: 70px;">
						</div>
						<div>
							<span>adfaaa</span>
						</div>
					</div>
				</a> 	
							
							
<!-- 		현재 위치 -->


		<div>
			<a href="#">
					<div class="in_1">
						<div>
							<img src="https://i.stack.imgur.com/FAOZX.png"
								style="width: 100px; height: 70px;">
						</div>
						<div>
							<span>adfaaa</span>
						</div>
					</div>
				</a> 
				<a href="#">
					<div class="in_1">
						<div>
							<img src="https://i.stack.imgur.com/FAOZX.png"
								style="width: 100px; height: 70px;">
						</div>
						<div>
							<span>adfaaa</span>
						</div>
					</div>
				</a> 
				<a href="#">
					<div class="in_1">
						<div>
							<img src="https://i.stack.imgur.com/FAOZX.png"
								style="width: 100px; height: 70px;">
						</div>
						<div>
							<span>adfaaa</span>
						</div>
					</div>
				</a> 
				<a href="#">
					<div class="in_1">
						<div>
							<img src="https://i.stack.imgur.com/FAOZX.png"
								style="width: 100px; height: 70px;">
						</div>
						<div>
							<span>adfaaa</span>
						</div>
					</div>
				</a> 
		</div>
	</div>
</body>
</html>